{% extends "layout.html" %}

{% block body %}
<p>Bạn đang học lớp 12 và vẫn chưa tham gia Đoàn Thanh niên Cộng sản Hồ Chí Minh ?</p>
<p>Bạn bị bắt phải học cả buổi chiều mà vẫn không hiểu gì ?</p>
<p>Giờ thì bạn đang bị bắt phải ngồi làm bài thu hoạch với cái đầu trống rỗng và không có chút động lực nào ?</p>
<h2>Đừng lo ! Chúng tôi ở đây để giúp bạn</h2>
<p>Chỉ cần nhập tên, trường lớp rồi chọn câu hỏi, chúng tôi sẽ tạo cho bạn một bài Cảm tình đoàn mẫu cho bạn</p>
<p>Và dù cho cả lớp hay cả khối bạn cùng dùng trang web này, chúng tôi cũng sẽ <b>đảm bảo</b> giám khảo sẽ không thể nào thấy sự giống nhau giữa bài các bạn.</p>
<p>Không tin chúng tôi ư ? Vậy hãy nghe từ những người đã sử dụng trang web này.</p>
<blockquote>
    <p>Trang web này đã giúp tôi hoàn thành bài Cảm tình Đoàn khô khan nhàm chán. Tôi rất biết ơn vì Khoa đã tạo ra trang web này !</p>
    <footer>Bạn Nguyễn Văn A - Trường X </footer>
</blockquote>
<blockquote class="blockquote-reverse">
    <p>Tôi giờ đã là một đoàn viên ưu tú của Đoàn Thanh niên Cộng sản Hồ Chí Minh. Tất cả là nhờ trang web tuyệt vời này đã giúp tôi làm bài thu hoạch.</p>
    <footer>Bạn Trần Văn B - Trường Y </footer>
</blockquote>
<div class="col-md-4 col-md-offset-4 text-center">
    <a href="/information" class="btn btn-primary">Let's Generate</a>
</div>
{% endblock %}
